<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Fluffy Pets - Home</title>
        <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css" media="all" />
        <link rel="stylesheet" href="../static/css/responsive.css" type="text/css" media="all" />
        <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
        <script src="../static/js/home.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
    </head>
    <body>
        <!--==============================header=================================-->
        <div class="main">
          <div class="over-head"></div>
          <div class="div-content">
            <header>
                <div class="container">
                     <div class="navbar navbar_ clearfix">
                        <div class="navbar-inner">      
                              <div class="clearfix">
                                <h1 class="brand"><a href="../templates/home.html"><img src="../static/img/logo.png" alt=""></a><span>Fluffy Pets</span></h1> 
                                <div class="nav-collapse nav-collapse_ collapse">
                                    <ul class="nav sf-menu clearfix">
                                      <li class="active"><a href="../templates/home.html">Home</a></li>
                                      <!--<li><a href="../templates/register.html">Registro</a></li>
                                      <li><a href="../templates/consult.html">Consultas</a></li>-->
                                      <li><a onclick=register()>Registro</a></li>
                                      <li><a onClick=consult()>Consultas</a></li>
                                    </ul>
                                </div>
                              </div>
                         </div>  
                     </div>
                </div>
            </header>
             <!--==============================contenido=================================-->
            <div class="container"> 
                <div class="row">
                     <article class="span12 clearfix">
                        <h2 class="bgh2">Nuestros Servicios</h2>
                     </article>
                        <ul class="thumbnails">
                           <li class="span3 thumbnail">
                             <div class="block-thumbnail maxheight">
                               <h3>Paseadores de perros</h3>
                               <figure class="img-polaroid"><img src="../static/img/dog_walker.jpg" alt=""></figure>
                               <p>Elige entre nuestros Paseadores
                               la persona ideal para acompañar a tu perro.</p>
                                <a href="#" class="link">Leer más<span></span></a>
                             </div>
                           </li>
                           <li class="span3 thumbnail">
                             <div class="block-thumbnail maxheight">
                               <h3>Servicios veterinarios </h3>
                               <figure class="img-polaroid"><img src="../static/img/veterinaria.jpg" alt=""></figure>
                               <p>Brindamos atención especializada en 
                               veterinaria, Servicios de cirugía y anestesia,
                               Servicios de fisioterapia, Servicios de diagnóstico
                               y laboratorio, Medicina Preventiva y Vacunación,
                               Rehabilitación, Servicios de urgencias 24 horas..</p>
                                <a href="#" class="link">Leer más<span></span></a>
                             </div>
                           </li>
                           <li class="span3 thumbnail">
                             <div class="block-thumbnail maxheight">
                                <h3>Tienda de mascotas</h3>
                                <figure class="img-polaroid"><img src="../static/img/pet_store.jpg" alt=""></figure>
                                <p>Encuentra todo lo que necesitas 
                               para atender y consentir a tu mascota.</p>
                                <a href="#" class="link">Leer más<span></span></a>
                             </div>
                           </li>
                         </ul>
                         <article class="span12 clearfix"><div class="divider"></div></article>
                    </div>
              </div>
            </div>
          </div>
           <!--==============================footer=================================-->
          <footer>
            <div class="container">
                 <div class="row">
                     <article class="span6 left">
                        <span>Fluffy Pets &copy; 2024 | Grupo 3 Talento Tech</span>
                     </article>
                 </div>
            </div>
          </footer>
        </div>
    </body>
</html>